<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nexus" value="https://150a-2a02-6b6f-f090-2500-b1e9-6418-9722-6966.ngrok-free.app/repository/nuget.org-proxy/index.json" />
    <add key="nexus2" value="https://150a-2a02-6b6f-f090-2500-b1e9-6418-9722-6966.ngrok-free.app/repository/nuget-v2-proxy" />
  </packageSources>
  <disabledPackageSources>
    <add key="nuget.org" value="true" />
  </disabledPackageSources>
</configuration>
